<div class="footer-ack">
	<a href="https://bioexcel.eu" target="_blank"><img src="assets/images/Bioexcel_logo.png" title="BioExcel logo"/></a>
	<a href="https://www.eosc-hub.eu/" target="_blank"><img src="assets/images/EOSC-Hub_logo.png" title="EOSC-Hub logo"/></a>
	<a href="https://www.egi.eu/" target="_blank"><img src="assets/images/EGI_logo.png" title="EGI logo"/></a>
	<a href="https://www.uu.nl/" target="_blank"><img src="assets/images/UU-logo.png" title="UU logo"/></a>
	<a href="https://ubc.uu.nl/" target="_blank"><img src="assets/images/UBC_logo.png" title="UBC logo"/></a>
</div>
