/* Header */
.page__title {
	text-align: right;
	font-size: 3.5em;
	text-shadow: 3px 3px 4px rgba(0,0,0,0.5);
}

/* Sidebar */
.sidebar {
	opacity: 1.0;
}

.author__avatar img {
	border: 0;
}

/* Footer */
footer {
	text-align: center;
}

page__footer-follow {
	padding-top: 20px;
}

.footer-ack {
	text-align: center;
}

.footer-ack img {
	padding-right: 90px;
	height: 42px;
	margin-bottom: 40px;
}