/* Archive */
.archive__item-title a {
	color: #4277c3;
	text-decoration: none;
}

.archive__item-title a:visited {
	color: #4277c3;
	text-decoration: none;
}

.archive__item-title a:hover {
	color: #264879;
	text-decoration: none;
}

.archive {
	padding-right: 0;
	padding-left: 3.5em;
}

/* Page */
.page__content a {
	color: #4277c3;
	text-decoration: none;
}

.page__content a:visited {
	color: #4277c3;
	text-decoration: none;
}

.page__content a:hover {
	color: #264879;
	text-decoration: none;
}

.page {
	padding-right: 0;
	padding-left: 3.5em;
}

/* Header */
.page__hero--overlay {
	padding: 2em 0;
}
.page__hero--overlay h1 {
	text-align: right;
	font-size: 3.0em !important;
	text-shadow: 3px 3px 4px rgba(0,0,0,0.5);
}

.page__lead {
	text-align: right;
	float: right;
	line-height: 0.5em;
	margin-bottom: 10px;
}

/* Sidebar */
.sidebar {
	opacity: 1.0;
}

.author__avatar img {
	border: 0;
}

/* Footer */
footer {
	text-align: center;
}

page__footer-follow {
	padding-top: 20px;
}

.footer-ack {
	text-align: center;
}

.footer-ack img {
	padding-right: 90px;
	height: 42px;
	margin-bottom: 40px;
}

/* People */
.people ul {
	list-style-type: none;
}

.people li {
	width: 23%;
	border: 1px solid lightgray;
	margin-right: 1em;
	display: inline-block;
}